    <%- include('../include/header.ejs') %>
        <link rel="stylesheet" href="/css/adminRoot.css">
    </head>
        <%- include('../include/navigation.ejs') %>

        <section class="row custom-padding">
            <h3 class="my-4">Edit Paket Perjalanan</h3>
        </section>

        <%
            const paketDataSplit = paketData.durasi.split(' ');
            const hari = paketDataSplit[0];
            const malam = paketDataSplit[2];
        %>

        <form class="custom-padding" method="POST" action="/admin/editpaketwisata">
            <div class="mb-3">
                <label for="namapaket" class="form-label">Nama Paket</label>
                <input type="text" class="form-control" name="namapaket" aria-describedby="emailHelp" value="<%= paketData.nama %>">
            </div>
            <div class="mb-3">
                <label for="harga" class="form-label">Harga</label>
                <input type="number" class="form-control" name="harga" value="<%= paketData.harga %>">
            </div>
            <div class="mb-3">
                <label for="Durasi Wisata" class="form-label">Durasi Wisata</label>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="col-2 me-4 d-flex align-items-center">
                        <input type="number" class="form-control" name="hari" placeholder="Jumlah Hari" value="<%= hari %>">
                        <label class="mx-3" for="hari">Hari</label>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <input type="number" class="form-control" name="malam" placeholder="Jumlah Malam" value="<%= malam %>">
                        <label for="malam" class="mx-3">Malam</label>
                    </div>
                </div>
            </div>
            <input type="hidden" name ="idpaket" value="<%= paketData._id %>">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <%- include('../include/footer.ejs') %>