<%- include('../include/header.ejs') %>
<link rel="stylesheet" href="/css/adminRoot.css">
</head>

<body>
<%- include('../include/navigation.ejs') %>
<section class="row custom-padding">
    <h3 class="my-4">Kota Destinasi</h3>
</section>

<section class="row d-flex justify-content-end custom-padding mb-4">
    <a type="button" class="btn btn-primary col-1" href="/admin/tambahkota">Tambah</a>
</section>

<section class="custom-padding">
    <table class="table table-md">
        <tr>
            <th class="col-xl-4">Kota Destinasi</th>
            <th class="col-xl-2 text-center">Action</th>
        </tr>

        <% for(let i = 0; i < kota.length; i++){ %>
            <tr>
                <td><%= kota[i].namakota %></td>
                <td class="d-flex justify-content-center">
                    <a href="/admin/editkota/<%= kota[i]._id %>" class="btn"><i class="bi bi-pencil-square fs-3" style="color: blue;"></i></a>
                    <form action="/admin/hapuskota" method="POST" >
                        <input type="hidden" name="idkota" value="<%= kota[i]._id %>">
                        <button type="submit" class="btn"><i class="bi bi-trash fs-3" style="color: red"></i></button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</section>
<%- include('../include/footer.ejs') %>